alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
betterpath==0.2.2
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
commonmark==0.8.1
coverage==4.5.2
Django==2.1.5
django-debug-toolbar==1.11
django-filter==2.1.0
django-polymorphic==2.0.3
djangorestframework==3.9.1
-e git+https://github.com/django-json-api/django-rest-framework-json-api.git@48653831b413f8e23ffb2c14836a94bb4eccc9bd#egg=djangorestframework_jsonapi
docutils==0.14
factory-boy==2.11.1
Faker==1.0.2
flake8==3.6.0
flake8-isort==2.6.0
future==0.17.1
idna==2.8
imagesize==1.1.0
inflection==0.3.1
isort==4.3.4
Jinja2==2.10
l==0.11.0
MarkupSafe==1.1.0
mccabe==0.6.1
mock==2.0.0
more-itertools==5.0.0
packaging==19.0
pbr==5.1.2
pkginfo==1.5.0.1
pluggy==0.8.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.7.4
pyparsing==2.3.1
pytest==4.1.1
pytest-cov==2.6.1
pytest-django==3.4.5
pytest-factoryboy==2.0.2
python-dateutil==2.7.5
pytz==2018.9
qrcode==6.1
readme-renderer==24.0
recommonmark==0.5.0
requests==2.21.0
requests-toolbelt==0.9.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
testfixtures==6.5.0
text-unidecode==1.2
tqdm==4.30.0
twine==1.12.1
urllib3==1.24.1
vcversioner==2.16.0.0
webencodings==0.5.1
zope.interface==4.6.0
